.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 0 8%;
    border-top: wheat 1px solid;
}

.button_active {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    color: #1b1b1f;
    font-size: 20px
}

.button_inactive {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1f;
    color: bisque;
    font-size: 20px
}

.button_inactive:hover {
    background-color: #292929;
    cursor: pointer;
}