.container {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    width: 100%;
    flex: 0 0 7%;
    background-color: #1b1b1f;
}

.button_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    flex: 0 0 10%;
}

.button_arrow:hover {
    background-color: #292929;
    cursor: pointer;
}
